<% if !@project.assignments.empty? %>
  <% @project.assignments.each do |assignment| %>
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h5 class="card-header text-bg-success"><%= assignment.status %></h5>
        <%= link_to 'Show', project_assignment_path(@project,assignment.id), class:"btn btn-info" %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= assignment.task %></h5>
        <p class="card-text"> <b>Description:</b> <%= assignment.description %></p>
        <p> <b>Owner:</b> <%= assignment.task_owner %></p>
        <p> <b>Report_to:</b> <%= assignment.assignee %></p>
      </div>
    </div>
    <%# <%= comment.body %>
    <%# <%= link_to 'Destroy', [comment.article, comment], data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <% end %>
<% else %>
  <h5> Initialize a task to view its story. </h5>
<% end %>
